---
title: About
---

<p>What do you want to learn more about?</p>

<dl class="index">
	<div>
		<dt><a href="./webmaster">Webmaster</a></dt>
		<dd>About me, Non.</dd>
	</div>
	<div>
		<dt><a href="./website">Website</a></dt>
		<dd>Site goals and info.</dd>
	</div>
</dl>