---
title: Site Updates
tags:
  - index
feed:
  title: NaiNonTheN00b1's Site Updates
  href: /updates/feed.xml
---

<a href="feed.xml" class="with-arrow">RSS Feed</a>
<dl>
  {{ for item of search.pages('updates !index', 'basename=desc') }}
    <dt>{{ item.basename |> date('HUMAN_DATE') }}</dt>
    <dd>{{ item.content |> md }}</dd>
  {{ /for }}
</dl>
