<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {{ if description }}
        <meta name="description" content="{{ description }}">
    {{ /if }}

    {{ if feed }}
        <link rel="alternate" type="application/rss+xml" href="{{ feed.href }}" title="{{ feed.title }}">
    {{ /if }}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/fonts.css">
	<title>{{ url == "/" ? "nons.page" : title + " - nons.page" }}</title>
</head>
<body>
	<main>
        <nav aria-label="Breadcrumbs" class="breadcrumb">
            <ol>
                {{ set breadcrumbsItem = nav.breadcrumb(url) }}

                {{# Fallback if page isn't found #}}
                {{ if breadcrumbsItem.length == 0 }}
					<li><a aria-current="false" href="/">Home</a></li>
                {{ /if }}

				{{ for item of breadcrumbsItem }}
					{{ set home = (item.data.url == '/') }}
					{{ set current = (url == item.data.url) }}
					<li>
						<a
							aria-current="{{ current }}" href="{{ current ? "" : item.data.url }}">{{ home ? "Home" : item.data.title }}
						</a>
					</li>
				{{ /for }}
            </ol>
        </nav>
        <article>
			<header>
				<h1>{{ title }}</h1>

				{{ if showTime }}
					<time class="shh" datetime="{{ date }}">{{ date |> date('HUMAN_DATE') }}</time>
				{{ /if }}
			</header>
			{{ content }}
        </article>
        <hr>
        {{# <h2>Where do you want to go?</h2> #}}
        <nav aria-label="Page Navigations" >
            <dl class="index">
                <div>
                    <dt><a href="/about">About</a></dt>
                    <dd>About me and this website.</dd>
                </div>
                <div>
                    <dt><a href="/archive">Archive</a></dt>
                    <dd>About me and this website.</dd>
                </div>
                <div>
                    <dt><a href="/blog">Blog</a></dt>
                    <dd>My collections of thoughts.</dd>
                </div>
                <div>
                    <dt><a href="https://nainonth.atabook.org">Guestbook</a></dt>
                    <dd>Sign my Guestbook.</dd>
                </div>
                <div>
                    <dt><a href="/links">Links</a></dt>
                    <dd>My dear, world wide web.</dd>
                </div>
                <div>
                    <dt><a href="/projects">Projects</a></dt>
                    <dd>Things that I've made.</dd>
                </div>
                <div>
                    <dt><a href="/updates">Site Updates</a></dt>
                    <dd>This website's update log.</dd>
                </div>
            </dl>
        </nav>
    </main>
    <footer class="site-footer">
        <p>&copy; {{ copyrightYear }} • NaiNonTheN00b1</p>
        <p>Last built on <time datetime="{{ lastBuilt |> date('DATE') }}">{{ lastBuilt |> date('HUMAN_DATE') }}</time></p>
    </footer>
</body>
</html>
